.form-contact {
  margin-top: 1.5rem;
  width: 100%;
}
.form-input {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
  font-size: var(--fts-md);
  font-weight: 400;
  border: none;
  border-top: 1px solid #00000044;
  background-color: transparent;
  color: var(--black);
  outline: none;
  line-height: var(--fts-md);
}
.form-input::placeholder {
  color: var(--black);
}
.input-message::-webkit-scrollbar {
  display: none;
}
.input-submit {
  border: 1px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
}
.input-submit:hover {
  background-color: var(--green);
  color: var(--black);
}
