.list-filter {
  background-color: var(--white);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: scroll;
  padding: 1.5rem 0;
}
.list-wrapper {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
